* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.header {
    height: 70px;
    padding-inline: clamp(6%, 13.5vw, 13.5%);
    align-content: center;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 13px 0px;
    display: grid;
    grid-template-columns: 170px 3.5fr 1fr 40px;
    
}

.header .logo {
    
}

.header .logo img {
    width: 88px;
    height: 40px;
}

.header .nav {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 40px;
    align-items: center;
}

.header .nav p {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
}

.header .nav p svg {
    align-self: center;
    margin-left: 10px;
    
}

.header .register {
    text-align: right;
    padding-right: 16px;
}

.header .register .in {
    font-size: 14px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
}

.header .register .up {
    font-size: 16px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
    padding: 15px;
    background-color: rgb(64, 25, 109);
    color: white;
    border-radius: 10px;
    margin-left: 16px;
}

.header .nigeria {
    align-self: center;
    padding-block: 10px;
    background-color: rgb(153, 226, 153);
    border-radius: 50%;
}

.header .nigeria img {
    height: 30px;
    width: 22px;
    margin: auto;
}

.header .menu {
    display: none;
}

@media (max-width: 1400px) {
  .header {
    padding-inline: 6%;
  }
}