* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.header {
    /* display: grid;
    grid-template-columns:10% 70% 30% ;
    column-gap: 4%; */
    align-content: center;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 13px 0px;
}

.header .logo {
}
.header .logo img {
    width: 88px;
    height: 40px;
}

.header .nav {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 40px;
    align-items: center;
}

.header .nav p {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
}

.header .nav p svg {
    align-self: center;
    margin-left: 10px;
    
}

.header .register {
    text-align: right;
    padding-right: 16px;
}

.header .register .in {
    font-size: 14px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
}

.header .register .up {
    font-size: 16px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
    padding: 15px;
    background-color: rgb(64, 25, 109);
    color: white;
    border-radius: 10px;
    margin-left: 16px;
}

.header .nigeria {
    align-self: center;
    padding: 10px;
    background-color: rgb(153, 226, 153);
    border-radius: 50%;
}

.header .nigeria img {
    height: 18px;
}

@media (max-width: 1100px) {
    .header {
        grid-template-columns:120px 56% 24% 5%;
        padding-inline: 6%;
    }

    .header .nav {
        column-gap: 20px;
    }
}

@media (max-width: 1000px) {

    .header {
        grid-template-columns: 120px 90%;
        border: 2px solid red;
    }
    
    .header .logo {
        border: 2px solid red;
    }

    .header .nav {
        display: none;
    }

    .header .register {
        text-align: right;
    }
}

@media (max-width: 800px) {
    .header {
        padding-inline: 6%;
    }
}