* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    border: 2px solid red;
}

.header {
    width: 100%;
    padding-inline: 13.5%;
    background-color: white;
    align-content: center;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 13px 0px;
    display: grid;
    grid-template-columns: 170px 3.5fr 1fr 40px;
    
}

.header .logo {
    
}

.header .logo img {
    width: 88px;
    height: 40px;
}

.header .nav {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 40px;
    align-items: center;
}

.header .nav p {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
}

.header .nav p svg {
    align-self: center;
    margin-left: 10px;
    
}

.header .register {
    text-align: right;
    padding-right: 16px;
}

.header .register .in {
    font-size: 14px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
}

.header .register .up {
    font-size: 16px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    cursor: pointer;
    padding: 15px;
    background-color: rgb(64, 25, 109);
    color: white;
    border-radius: 10px;
    margin-left: 16px;
}

.header .nigeria {
    align-self: center;
    padding-block: 10px;
    background-color: rgb(153, 226, 153);
    border-radius: 50%;
}

.header .nigeria img {
    height: 30px;
    width: 22px;
    margin: auto;
}

.header .menu {
    display: none;
}

.main {
     
      
}

.main > div {
    margin-inline:  20%;
}

.main a {
    color: rgb(64, 25, 109);
    font-weight: 700;
    text-decoration: underline;
}

.main h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: rgb(64, 25, 109);
}

.animat {
    display: grid;
    margin: 70px 10px 63px;
    grid-template-columns: 40% 60%;
    column-gap: 5px;
    height: 650px;
}

.animat .right {
    align-self: center;
}

.animat .right h1 {
    width: 80%;
    font-size: 48px;
    font-weight: 900;
    font-family: sans-serif;
    color: rgb(64, 25, 109);
    line-height: 55.2px;
    margin-bottom: 20px;

}

.animat .right h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
}

.animat .right .get {
    display: grid;
    grid-template-columns: 140px 140px;
    column-gap: 5px;
}

.animat .right .get img {
    width: 135px;
    height: 40px;
}

.animat .right p {
    display: flex;
    font-size: 12px;
    align-items: center;
    padding-block: 12px;
}

.animat .right img {
    align-self: center;
    margin-inline: 8px;
}

.animat .right span {
    font-size: 20px;
    font-weight: 1000;
    color: rgb(64, 25, 109);
    margin-left: 12px;
    text-decoration: underline;
}

.animat .left {
    /* border: 2px solid green; */
}

.animat .left img {
    width: 100%;
}

.main .service {
    padding-block: 20px;
}


.service .card {
    padding: 22px 25px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .06);

}

.service .card p {
    font-size: 15px;
    font-weight: 900;
    color: rgb(64, 25, 109);
    line-height: 23px;
}


.service .top {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2%;
    justify-content: center;
    margin-bottom: 40px;
}

.service .bottom {
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
}




.main .yp_sec {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 420px 50%;
    column-gap: 10%;
    margin-bottom: 50px;
}

.yp_sec .right {
    width: 100%;
    margin-right: 85px;
}

.yp_sec .right h1 {
    width: 250px;
    /* font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: rgb(64, 25, 109); */
    margin-bottom: 20px;
}

.yp_sec .right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

/* .yp_sec .right a {
    color: rgb(64, 25, 109);
    font-weight: 700;
    text-decoration: underline;
} */





.main .yourM {
    display: grid;
    grid-template-columns: 55% 440px;
    margin-top: 200px;
    
}

.yourM .left h1 {
    /* font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: rgb(64, 25, 109); */
    margin-bottom: 20px;
}

.yourM .left p {
    width: 340px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}


.main .saveY {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 420px 50%;
    column-gap: 10%;
    margin-bottom: 50px;
}

.saveY .right {
    width: 100%;
    margin-right: 85px;
}

.saveY .right h1 {
    width: 350px;
    /* font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: rgb(64, 25, 109); */
    margin-bottom: 20px;
}

.saveY .right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    width: 340px;
}



.main .turnO {
    display: grid;
    grid-template-columns: 55% 440px;
    margin-top: 200px;
    
}

.turnO .left h1 {
    /* font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: rgb(64, 25, 109); */
    margin-bottom: 20px;
}

.turnO .left p {
    width: 340px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

/* .turnO .left a {
    color: rgb(64, 25, 109);
    font-weight: 700;
    text-decoration: underline;
} */



.main .weA {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 420px 50%;
    column-gap: 10%;
    margin-bottom: 50px;
}

.weA .right {
    width: 100%;
    margin-right: 85px;
}

.weA .right h1 {
    width: 420px;
    /* font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: rgb(64, 25, 109); */
    margin-bottom: 20px;
}

.weA .right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    width: 340px;
}

/* .weA .right a {
    color: rgb(64, 25, 109);
    font-weight: 700;
    text-decoration: underline;
} */




.main .feeA {
    display: grid;
    grid-template-columns: 55% 440px;
    margin-top: 200px;
    
}

.feeA .left h1 {
    /* font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: rgb(64, 25, 109); */
    margin-bottom: 20px;
}

.feeA .left p {
    width: 340px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}



/* .feeA .left a {
    color: rgb(64, 25, 109);
    font-weight: 700;
    text-decoration: underline;
} */


.main .dont {
    margin-inline: 0;
    margin-top: 100px;
}

.dont h1 {
    text-align: center;
    
}


.main .partners {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px 130px;
    justify-content: center;
    column-gap: 7%;
    margin: 0;
    padding-block: 90px;
}

.partners img {
    width: 100%;
    height: 50px;
}

.main .ourP {
    padding: 88px 0px 77px;
    background-color: rgb(251, 251, 251);
    margin: 0;
}

.ourP h1 {
    text-align: center;
    margin-bottom: 40px;
}

.ourP .part {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px;
    column-gap: 4%;
    justify-content: center;
}

.main .choose {
    padding-block: 88px;
}

.choose h1 {
    text-align: center;
}

.main .more {

}

.more h1 {
    text-align: center;
    margin-bottom: 40px;
}

.more .top {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2%;
    justify-content: center;
    margin-bottom: 40px;
}

.more .top .card {
    padding: 22px 25px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .06);

}

.more .top .card h2 {
    font-size: 24px;
    font-weight: 900;
    line-height: 50px;
    color: rgb(64, 25, 109);
    margin-bottom: 16px;

}

.more .top .card p {
    margin-bottom: 40px;

}

.main .moneyA {
    display: grid;
    grid-template-columns: 460px 40%;
    column-gap: 8%;
    background-color: rgb(239, 241, 255);
    padding-inline: 110px;
    margin-bottom: 140px;
}

.moneyA .left {
    padding-top: 100px;
    
}

.moneyA .left h1 {
    font-size: 36px;
}

.moneyA .right {
    /* padding-top: 100px; */
}

.moneyA .right img {
    width: 100%;
    position: relative;
    top: 100px;
}




.footer {
    padding-inline: 20%;
}

.footer .lists {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 50px;
}

.lists div h3 {
    color: rgb(64, 25, 109);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.lists div li {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer .get {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    column-gap: 5px;
}

.footer .get img {
    width: 135px;
    height: 42px;
}

.footer > p {
    text-align: center;
    margin-block: 40px;
    color: rgb(64, 25, 109);
    font-size: 14px;
    font-weight: 400;
}


.footer .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
}

.contact > .state {
    width: 200px;
}

.state > h2 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(64, 25, 109);
    margin-bottom: 20px;
}

.state > p {
    font-size: 14px;
}

   

















@media (max-width: 1460px) {
  .header {
    padding-inline: 6%;
  }

    .main > div {
    margin-inline: 10%;
  }
}

@media (max-width: 1280px) {
    .header {
        grid-template-columns:140px 58% 24% 40px;
    }

    .header .nav {
        column-gap: 20px;
    }



    .main > div {
        margin-inline: 6%;
    }

}

@media (max-width: 1100px) {
    .header {
        grid-template-columns:140px 56% 24% 40px;
    }

    .header .nav {
        column-gap: 20px;
    }


    .animat {
        grid-template-columns: 50% 50%;
    }


}

@media (max-width: 1000px) {
    .header {
        grid-template-columns: 85% 40px 5%;
        column-gap: 20px;
    }

    .header .nav {
        display: none;
    }


    .header .register {
        text-align: right;
        display: none;
    }

    .header .menu {
        display: block;
        align-self: center;
    }

    .header .menu i {
        color: rgb(64, 25, 109);
        font-size: 30px;
    }















    .main .first {
        display: grid;
        grid-template-columns: 420px;
        grid-template-rows: auto auto;
        justify-content: center;
        text-align: center;
        border: 2px solid red;
    }



    .main .first .item1 {
        grid-row: 2;
    }

    .main .first .item2 {
        grid-row: 1;
    }

    .main .first > div > img {
        width: 300px;
        height: 300px;
        margin: auto;
        margin-block: 100px;
    }

    .main .word {
        text-align: center;
        margin-bottom: 20px;
    }

    .main .word h1 {
        margin: auto;
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 20px;

    }

    .main .word p {
        width: 350px;
        margin: auto;
        font-size: 14.5px;
        margin-bottom: 30px;
    }

    


}





@media (max-width: 800px) {
    .header {
        
    }

    .animat {
        display: block;
        width: 500px;
        border: 2px solid red;
        margin: auto;
    }

    .animat .right {
        text-align: center;
    }

    .animat .right h1 {
        font-size: 32px;
        width: 200px;
        margin: auto;
        line-height: 45px;
        margin-bottom: 10px;
    }

    .animat .right h3 {
        width: 360px;
        font-size: 17px;
    }


}