* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    height: 70px;
    padding-inline: 13.5%;
    background-color: white;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 13px 0px;
    display: grid;
    grid-template-columns: 170px auto;
    justify-content: space-between;
    
}

.header .signup {

}

.signup button {
    background-color: rgb(239, 241, 255);
    font-size: 15px;
    padding: 15px;
    color: rgb(64, 25, 109);
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid rgb(64, 25, 109);
}


.main {
    background-image: url(../MULTIMEDIA/images/world2.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    padding-left: 15%;
}

.main .container {
    width: 435px;
}

.container .check {
    background-color: rgb(239, 241, 255);
    display: flex;
    padding: 10px 20px;
    border: 1px solid rgba(219, 220, 224, 0.5);
    border-radius: 5px;
}

